@tailwind base;
@tailwind components;
@tailwind utilities;


.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #4BA4DA;
    gap: 0;
}