.bgImage {
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.name{
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    
}